<div class="container">
  <nav class="nav-bar"> 
    
    <a href="/login">login <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
  <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
</svg></i> </a> 
     <a href="/login">register <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
</svg> </a> 
  </nav>
  <div class="first-block">
    <div class="l-intro">
        <div class="txt">
        <h3>Make the difference for a healthy community   </h3>
        <p> From here it will be your first step to make this a reality .  </p>
        <p>Discover all volunteer work and choose what suite with your talant </p>
        </div>
    </div>
    <div class="r-intro">
       <div class="txt-r">
         <h3>For each others </h3>
         <p>its a plateform for posting your volunteer offers or post for help from a volunteer  </p>
         <p>and its possible to interact with posts and leave comments </p>
       </div>
       </div>
    </div>
  </div>
  <div class="second-block">
    <h1>WHAT GOES AROUND COMES AROUND</h1>
    <p> "Volunteers do not necessarily have a time , they just have the heart "</p>
    <p>Start now and post your Volunteer offer and get match with who needs help !</p>
    <div class="btn-section">
      <form action="/volunteer" method="GET">
         <button id="home-btn" type="submit">I am a volunteer</button>
      </form>
       <form action="/volunteer" method="GET">
         <button id="home-btn" type="submit">Explore volunteering Posts</button>
       </form>
     </div>
  </div>
  <div class="third-block">
      <div class="card-help">
            <h1>NEED HELP?</h1>
        <p>Asking for help doesn't make you weak -<br> It reveals strength, Even when you don't feel strong</p>
        <div class="btn-section">
            <form action="/needVolunteer" method="GET">
               <button type="submit" id="home-btn">I need a volunteer</button>
            </form>
            <form action="/volunteer" method="GET">
               <button id="home-btn" type="submit">Explore needy Posts</button>
            </form>
  
   </div>
    </div>
  </div>
  <div class="fourth-block">
     <h1>The world is one big family, and we need to help each other !</h1>
     <p>You can also praticipate in supporting those in need by makeing a donation</p>
    <form action="/volunteer" method="GET">
    <button id="home-btn" type="submit">Donat</button>
       <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/register"
          style="color: #393f81;">Register here</a>
           </p>
       <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a href="/register"
          style="color: #393f81;">Sign in here</a>
          </p>
    </form>
  </div>
</div>
