<div class="container">
  <h2>for each others </h2>
  <form action="/volunteer" method="GET">
    <button id="add-volunteer" type="submit">I am a volunteer</button>
  </form>
    <form action="/needVolunteer" method="GET">
    <button type="submit">I need a volunteer</button>
  </form>
 {{> home}}
</div>
