
<div class="need-offer">
  <h1>I want a volunteer</h1>
  <h2> Post an explnation of your issue  </h1>
</div>
<form  method="post" id="offer">
  <div class="from-group">
  <label for="name">I am :</label>
  <input type="hidden" name="id" value=''>
  <input type="text" name ='name' value="" placeholder="Mark">
  </div>
  <div class="form-group">
  <label for="place">I live in  :</label>
  <input type="text" name ='place' value="" placeholder=" rotterdam">
  </div> 
  <div class="form-group">
  <label for="age">My age is:</label>
  <input type="text" name ='age' value="" placeholder="63">
  </div> 
  <div class="form-group">
  <label for="help">I want help with :</label>
  <input type="text" name ='help' value="" placeholder="teaching maths">
  </div>  
  <div class="form-group">
  <label for="when"> in this date :</label>
  <input type="text" name ='when' value="" placeholder="two day a week">
  </div> 
  <div class="form-group">
  <label for="details">More details :</label>
  <input type="text" name ='details' value="" placeholder="description ">
   <div class="form-group">
     <button type="submit"> Post </button>
   </div>
      <div class="form-group">
     <button type="submit" > cancel </button>
   </div>
  </div> 

</form>