
<div class="add-offer">
  <h1>I am a volunteer</h1>
  <h2>Create new volunteering offer </h1>
</div>
<form  method="post" id="offer">
  <div class="from-group">
  <label for="name">I am :</label>
  <input type="hidden" name="id" value=''>
  <input type="text" name ='name' value="" placeholder="Mark">
  </div>
  <div class="form-group">
  <label for="place">I live in  :</label>
  <input type="text" name ='place' value="" placeholder=" rotterdam">
  </div> 
  <div class="form-group">
  <label for="job">My job is:</label>
  <input type="text" name ='job' value="" placeholder="as a web developer">
  </div> 
  <div class="form-group">
  <label for="work">I can help with :</label>
  <input type="text" name ='work' value="" placeholder="teaching maths">
  </div> 
   <label for="good">And am good with:</label>
  <input type="text" name ='good' value="" placeholder="computer scince"> 
  </div> 
  <div class="form-group">
  <label for="available">I am available  :</label>
  <input type="text" name ='available' value="" placeholder="one day a week">
  </div> 
  <div class="form-group">
  <label for="details">More details :</label>
  <input type="text" name ='details' value="" placeholder="description ">
   <div class="form-group">
     <button type="submit"> Post </button>
   </div>
      <div class="form-group">
     <button type="cancel"> cancel </button>
   </div>
  </div> 

</form>